.weather {
  position: relative;

}

.weather_info {
  position: absolute;
  top: 16px;
  left: 16px;
  color: #fff;
  font-size: 36px;
  line-height: 40px;
}

.weather_image {
  width: 100%;

}

.main {
  padding: 0 20px;
}

.card_section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card_image {
  width: 328px;
  height: 328px;
  border-radius: 19px;
}

.card_name {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
