.item__modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.item__modal-container {
    position: relative;
    background-color: #fff;
    border-radius: 16px;
}

.item__modal-image {
    width: 328px;
    height: 328px;
    border-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: none;
    border: solid 1px rgba(0, 0, 0, 0.3);
}

.item__modal-caption {
    display: flex;
    padding: 0 32px 32px; 
    color: #000;
    font-family: 'Familjen Grotesk', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    
}