.sidebar {
  display: flex;
  flex-flow: row;
  align-self: flex-start;
  flex-wrap: nowrap;
}

.sidebar__name {
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 20px;
  margin: 0;
  align-self: center;
  max-width: 150px;
  white-space: nowrap;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  padding-right: 16px;
  align-self: center;
}
