.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 116px;
  max-height: 56px;
}

.sidebar__name {
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
}

.sidebar__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidebar__avatar-default {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidebar__profile-info {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.sidebar__profile-manager {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 20px;
  align-items: flex-start;
}

.sidebar__edit-button {
  color: #000;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  line-height: 24px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.sidebar__logout-button {
  color: #000;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  background-color: #fff;
  padding: 0;
  margin-top: 8px;
  border: none;
  cursor: pointer;
}
