.switch {
  display: flex;
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
  border: 2px solid #7e7e7e;
  width: 40px;
  height: 20px;
  outline: none;
}

.switch__slider-F {
  position: absolute;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 385px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.switch__slider-C {
  position: absolute;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 366px;
  background-color: #000;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.switch__slider::after {
  right: 24px;
}

.switch__temp-F {
  position: absolute;
  top: 10px;
  right: 391px;
  z-index: 100;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.switch__temp-C {
  position: absolute;
  top: 10px;
  right: 371px;
  z-index: 100;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.switch_active {
  z-index: 100;
  color: #fff;
  top: 7px;
  font-size: 15px;
}
